<a href="https://colab.research.google.com/github/sachinchauhari479/Spatic_assignment/blob/main/Assignment_for_Python_Developer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
!pip install haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0

In [5]:
import pandas as pd
from haversine import haversine
from difflib import SequenceMatcher

# Load the dataset into a pandas dataframe
df = pd.read_csv('/content/drive/MyDrive/assinment/assignment_data.csv')

In [18]:
# Define a function to calculate string similarity
def is_similar(str1, str2):
    return SequenceMatcher(None, str1, str2).ratio() > 0.8 and abs(len(str1) - len(str2)) <= 5

In [25]:
# Create a list to store the matches
matches = []

# Iterate over each entry in the dataframe
for i, row1 in df.iterrows():
    # Find all entries that are within 200 meters of this entry
    nearby_entries = df[df.apply(lambda row2: haversine((row1['latitude'], row1['longitude']), (row2['latitude'], row2['longitude'])) < 0.2, axis=1)]
    
    # Check if the names of the nearby entries are similar
    is_similar_entry = False
    for j, row2 in nearby_entries.iterrows():
        if i != j and is_similar(row1['name'], row2['name']):
            # The names are similar and the entries are within 200 meters of each other, so mark the entry as similar
            is_similar_entry = True
            break
    
    # Add the information about this entry and whether it is similar to the matches list
    matches.append({'name': row1['name'], 'latitude': row1['latitude'], 'longitude': row1['longitude'], 'is_similar': int(is_similar_entry)})

In [26]:
# Convert the matches list to a pandas dataframe
matches_df = pd.DataFrame(matches)

In [28]:
matches_df.head(30)

                name   latitude  longitude  is_similar
0    kbyJYJzqEVkEmpc  13.022860  77.688911           0
1    qbgufTPzZEkxNHV  13.093675  77.702779           0
2    XWIXkuyDacCmsaE  12.902879  77.633207           0
3   PWMPzEhgQSIJFtLl  12.864532  77.731435           1
4    PWMPzEhgQSIJFtL  12.865321  77.731473           1
5    MHveToenbpcMPeW  13.070456  77.610955           0
6    WItnvWIntfoiilf  13.002356  77.683548           0
7    DPjNIjFDGUdRaNP  12.982655  77.593377           0
8    SMLuzwDVgJxZDJm  13.065282  77.472500           0
9    vAbbuCYbFLCXICj  12.990463  77.672949           0
10   rLfczOfLhEoRnGZ  12.909938  77.685575           0
11   edieHBeImKgBQAJ  12.938959  77.465870           0
12   GOwLhWmXEfYOmVX  12.901291  77.673744           0
13   orOQKFbRAoHeqcJ  12.889252  77.596945           0
14   CdWAxHeYVjKBRoq  13.093738  77.713078           0
15    lqKiDFBZBTWUez  12.983261  77.678601           1
16   lqKiDFBZBTWXUez  12.983726  77.678409           1
17   eNmJDTcGphYUOiL  12.901054  77.728352           0
18  sjislLxiXZmXLXrA  12.873689  77.506168           1
19   sjislLxiXZmXLXr  12.874079  77.505529           1
20   PMiOQVrAkdXaIku  12.999143  77.624271           0
21    tnbuHQPEFCTHbM  12.990844  77.544060           1
22   KtnbuHQPEFCTHbM  12.991177  77.544701           1
23   XLAftyVglwWYsGW  12.912192  77.739024           0
24   rZxvAzqBqmxjOvp  13.082419  77.497992           0
25  zQDGraifUKPvJXrh  12.912486  77.719909           1
26   zQDGraifUKPvJXr  12.912090  77.720611           1
27   nDUUMkFmhvWSeKA  12.999386  77.524471           0
28   pTSAacswfCkLTrH  12.878809  77.590372           0
29   LnDIkeWZGiDzBbG  12.951540  77.472948           0

In [30]:
# Write the matches dataframe to a csv file
matches_df.to_csv('/content/drive/MyDrive/assinment/output.csv', index=False)